body {
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
}

.site-title {
  text-align: center;
  margin-bottom: 20px;
}

.section {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 10px;
  border: 2px solid #000;
  margin-right: -4px; 
  min-height: 300px;
}

.sidebar {
  width: 20%;
  height: 400px;
  background-color: #e0f2ff;
}

.main-content {
  overflow: auto;
  width: 60%;
  height: 400px;
  background-color: #f5f5f5;
}

.advertisement {
  width: 20%;
  height: 400px;
  background-color: #ffeccc;
}

.section h2 {
  margin-top: 0;
}
