body {
  font-family: 'Times New Roman', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.section {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 8px;
}

/* Different background colors for each section */
#about {
  background-color: #fff6e9; 
  border: solid #888888;
}

#education {
  background-color: #e3f3fd; 
  border: solid #888888;

}

#hobbies {
  background-color: #e6e6fa; 
  border: solid #888888;

}

/* Custom horizontal rule */
hr {
  border: none;
  height: 4px;
  background-color: #888888;
  width: 85%;
  margin: 20px auto;
}

h2 {
  margin-top: 0;
}
