/* Global font */
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.6;
  background-color: rgb(247, 237, 225);
}

/* Sticky Header */
.site-header {
  position: sticky;        
  top: 0;                  
  z-index: 1000;           

  background-color: #0de1fd;
  color: #000000;
  padding: 12px 24px;
  border-bottom: 3px solid #003f88;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.site-title {
  font-size: 24px;
  font-weight: bold;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  margin-left: 16px;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
  background-color:bisque;
  color: #000;
}

.content {
  max-width: 800px;
  margin: 80px auto 40px;  /* margin for text isn't under header */ 
  padding: 0 16px;
}

.content h1 {
  margin-bottom: 16px;
}

